#recaptcha\-wrapper {
	margin: var(--mol_gap_block) !important;
}

#recaptcha\-wrapper a,
#recaptcha\-wrapper .gs\-captcha\-info\-link {
	text-decoration: none;
	color: var(--mol_theme_control);
}

[giper_search_app_main] {
	flex: 0 0 60rem;
	margin: 0 auto;
}

[giper_search_app_main_foot] {
	justify-content: space-evenly;
}

[giper_search_app_sideview] {
	flex: 10000 0 40rem;
}

[giper_search_app_content] {
	flex-direction: column;
	padding: var(--mol_gap_block);
}

[giper_search_app_sideview_hint] {
	flex: 1 1 auto;
	padding: 0 .25rem;
	font-size: .75rem;
	justify-content: center;
}

[giper_search_app_sideview_embed] {
	align-self: stretch;
	justify-self: stretch;
	border-radius: 0;
	background: transparent;
}

[giper_search_app_settings] {
	flex: 0 0 25rem;
}

[giper_search_app_result_item] {
	padding: 0;
	background: var(--mol_theme_card);
}

[giper_search_app_result_image] {
	flex: 1 0 6rem;
	max-height: 6rem;
	object-fit: scale-down;
}

[giper_search_app_result_info] {
	flex: 1 1 auto;
	flex-wrap: wrap;
	align-items: center;
	align-content: center;
}

[giper_search_app_result_main] {
	flex: 10000 1 14rem;
}

[giper_search_app_result_title] {
	color: var(--mol_theme_text);
	text-shadow: 0 0;
}

[giper_search_app_result_descr] {
	color: var(--mol_theme_text);
}

[giper_search_app_main_tools] {
	flex-grow: 0;
}

[giper_search_app_result_title_low] {
	opacity: 1;
}

[giper_search_app_result_descr_low] {
	opacity: 1;
}

[giper_search_app_result_host_low] {
	opacity: 1;
}

[giper_search_app_result_list] {
	gap: var(--mol_gap_block);
}

[giper_search_app_result_list_empty] {
	padding: var(--mol_gap_text);
}

[giper_search_app_attribution] {
	padding: var(--mol_gap_text);
}

[giper_search_app_result_ban_option_label] {
	text-align: right;
}
